<a href="https://colab.research.google.com/github/ChiomaUU/CMPT2400/blob/main/EDA_Lab2_Quiz_(Student).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab Two Quiz: Data Cleaning

Data cleaning is the very first part of any data analysis and/or machine learning project. In this quiz, you have to fix/change a dataset very similar to your lab assignment. Write your code for all the [Q] sections. Total mark for this quiz is 48 points, each [Q] has 4 points.

##### Loading libraries needed and the data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# loading the 'Lab2_quiz.csv' csv data
df = pd.read_csv('Lab2_quiz.csv')

# This makes it so we are able to see 100 rows when displaying the data
pd.set_option('display.max_rows', 10)

In [ ]:
df.head()

## Looking at issues with the data

##### Observing the data types of each column.

In [ ]:
df.dtypes

##### [Q] Make a copy of the original dataset for cleaning so you can always go back if ever needed.

In [ ]:
#Make a copy of the original dataset for cleaning
#df_clean =
#Check the shape of the data

##### [Q] Drop the `'Unnamed: 0'` column, make sure to check the shape of you data after this step.

In [ ]:
#Drop the 'Unnamed: 0' column and check the shape again

##### [Q] Find unique values of the `'Gender'` feature.

In [ ]:
#Find the unique values for 'Gender']

##### [Q] Fix the data in the `'Gender'` column.
> Hint: make it so there are 2 unique entries, `'M'` and `'F'`.

In [ ]:
#Fix the gender column to have 2 unique entroes 'F', and 'M'

In [ ]:
#Check the 'Gender' column again

### Setting The Correct Data Type

##### [Q] Change the `'H'` & `'H1'` columns to numeric data `type(float64)` instead of `'object'`.

In [ ]:
#Set the data types for H and H1 columns

### Duplicate Entries
- Duplicate entities in a dataset is not good to have as it  can use overfit and is redundant information

##### [Q] Check for duplicate entries. Remove the duplicate entries

In [ ]:
#Check for duplicate entries
#duplicate_rows =

#Count the number of duplicates

#Remove duplicate entreis and store the result in a new dataframe df_clean_unique
#df_clean_unique =

##### [Q] Once you delete a row in your dataset the index of that row is also deleted. Reset the index of the dataset so it in proper order.
> Hint: use the `dataframe.reset_index` function and set the drop parameter to `True`.

In [ ]:
#reset the row index for the dataset

##### [Q] Check the shape of the dataframe after removing the duplicats.

In [ ]:
#Check the shape of df_clean_unique

#####[Q] Now calculate the feature correlation in `'df_clean'` for all the features with numerical values.

In [ ]:
#Calculate feature correlation for df_clean dataframe
#all_corr =

#####[Q] Now, we want to calculate the correlations for the data without any duplicated entries (without the duplicated rows).

In [ ]:
#Calculate the correlations for df_clean_unique
#corr_unique =

#####[Q]Then compare the correlation values for data before removing the duplicates and after removing the duplicates. Do you see any difference? Explain your finding.

##### [Q] Find 2 different features with corrlation of 1, and drop one of the features from your `'df_clean_unique'` dataframe.

In [ ]:
#Write the name of the 2 distict features which have correlation of 1.
#Drop one of these from your dataframe.

In [ ]:
#Check the shape of your final dataframe