# Lab Two: Data Cleaning

Data cleaning is the very first part of any data analysis and/or machine learning project. In this lab, you will be going over some of the common data issues and applying suitable fixes.

##### Loading libraries needed and the data

In [7]:
import pandas as pd
import numpy as np

### Explaining the data we will be using for this and the next few labs

In this example, we have 2 datasets. The datasets from two different hypothetical clinics, "Clinic1" and "Clinic2" which diagnose patients with a novel device that takes many measurements. The final goal is to see if they have a particular disease or not.

Measurements taken from patients in the two clinics are presented in dataframes `Lab2_df1.csv` and we also have an inspection log, recorded in `Lab2_df2.csv` file for the devices used in "Clinic1" and "Clinic2" where many variables from the device are measured.

Two of these variables, `'M1'` and `'M3'`, are believed to affect the readings taken from the patients. The `Lab2_df1` dataset is labelled with an actual diagnosis of whether the patient had the disease or not, and the goal is to predict the existence of the disease based on the measurements taken from the patients. Since the variables of the devices, measured in inspection, affects the measurements taken from patients in clinics, they should also be considered. Here are the data frames:

#### Note: Cells which have '[A]' represents the activity you have to do.

In [12]:
# loading the 'Lab2_df1.csv' csv data
df1 = pd.read_csv('Lab2_df1.csv')

# This makes it so we are able to see 100 rows when displaying the data
pd.set_option('display.max_columns', 100)

In [13]:
df1.head(20)

,Unnamed: 0,Examination Date,Name,Gender,Age,Mode,H,H1,M,DD,Diagnosis
0,0,6/10/2011,Cody Watson,male,72,d,_,_,5.058993,1.481877,No
1,1,2/20/2011,Jonathan Duke,male,9,e,104.0876332,105.0876332,6.531724,2.266884,No
2,2,6/27/2011,Charlene Houseworth,female,59,f,102.9043152,103.9043152,6.273313,0.396333,Yes
3,3,9/22/2010,Gregory Curci,Male,23,g,152.6516553,153.6516553,7.333626,0.557534,Yes
4,4,6/10/2011,Cody Watson,male,72,d,_,_,5.058993,1.481877,No
5,5,7/21/2011,Linda Sawicki,female,17,g,67.23905431,68.23905431,3.642516,3.765706,Yes
6,6,5/6/2011,Ruth Morgan,female,19,_,54.0503086,55.0503086,7.193318,-0.173915,_
7,7,7/5/2011,Shane Acosta,male,5,f,47.04644557,48.04644557,4.808863,6.446874,No
8,8,10/31/2010,Tania Fuoco,female,41,f,_,_,7.637614,-0.655884,No
9,9,5/1/2011,Arla Czachorowski,female,36,f,109.6457241,110.6457241,7.006120,2.405082,No
10,10,8/22/2010,Sheila Thomas,female,41,_,108.2721498,109.2721498,7.369781,9.350549,_
11,11,1/24/2011,Jimmy Martinez,male,36,e,106.4035386,107.4035386,4.329964,-2.105617,Yes
12,12,2/4/2011,Phillip Boyd,male,2,f,116.1817452,117.1817452,7.817222,5.456586,No
13,13,9/1/2010,John Lesser,male,76,f,_,_,4.193204,-1.491731,_
14,14,6/16/2011,David Montgomery,male,4,f,146.3253216,147.3253216,4.370916,-5.119345,Yes
15,15,6/19/2011,Anita Mcgrew,female,32,e,63.21008797,64.21008797,5.253893,5.946163,No
16,16,12/3/2010,Daniel Moore,male,10,e,116.2191531,117.2191531,6.446360,2.041393,No
17,17,4/11/2011,Holly Molina,female,43,d,_,_,5.088270,4.504290,Yes
18,18,4/26/2011,Heather Esquivel,female,15,_,33.12832279,34.12832279,6.461212,0.213089,No
19,19,2/1/2011,Frankie Mitchener,male,43,f,131.127339,132.127339,4.855666,2.858591,Yes

## Looking at issues with the data

##### Unique values of the `'Gender'` feature.

In [14]:
df1['Gender'].unique()

array(['male', 'female', 'Male', 'fmeale'], dtype=object)

##### Unique values of the `'Mode'` feature.

In [15]:
df1['Mode'].unique()

array(['d', 'e', 'f', 'g', '_', 'F', 'h', 'a'], dtype=object)

##### Observing the data types of each column.

In [16]:
df1.dtypes

Unnamed: 0            int64
Examination Date     object
Name                 object
Gender               object
Age                   int64
Mode                 object
H                    object
H1                   object
M                   float64
DD                  float64
Diagnosis            object
dtype: object

# Lab Activity One: Guided Data Cleaning

##### It is generally a good idea to make a copy of the master dataset for cleaning so you can always go back if ever needed.

In [17]:
df_clean = df1.copy()

##### [A] Drop the `'Unnamed: 0'` column

In [18]:
df1.drop(columns=['Unnamed: 0'], inplace=True)

##### [A] Fix the data in the `'Gender'` column.
> Hint: make it so there are 2 unique entries, `'male'` and `'female'`.

In [23]:
df_clean['Gender'] = df_clean['Gender'].replace('Male', 'male')
df_clean['Gender'] = df_clean['Gender'].replace('fmeale', 'female')

Check the 'Gender' column again

In [24]:
df_clean['Gender'].unique()

array(['male', 'female'], dtype=object)

##### [A] Fix the data in the `'Mode'` column.
> Hint: Check for lower and upper case entries

In [26]:
df_clean['Mode'] = df_clean['Mode'].str.lower()
df_clean['Mode'].unique()

array(['d', 'e', 'f', 'g', '_', 'h', 'a'], dtype=object)

### Setting The Correct Data Type

##### [A] Change the `'H'` column to numeric data `type(float64)` instead of `'object'`.

In [27]:
df_clean['H'] = pd.to_numeric(df_clean['H'], errors='coerce')

*Check* the 'H' column again

In [29]:
df_clean['H'].dtype

dtype('float64')

##### [A] Convert `'Examination date'` column to `datetime` type.

In [31]:
df_clean['Examination Date'] = pd.to_datetime(df_clean['Examination Date'])

In [32]:
df_clean.dtypes

Unnamed: 0                   int64
Examination Date    datetime64[ns]
Name                        object
Gender                      object
Age                          int64
Mode                        object
H                          float64
H1                          object
M                          float64
DD                         float64
Diagnosis                   object
dtype: object

##### Using the `gender_type` key we set the `'Gender'` column as categorical data.

In [33]:
gender_type = pd.CategoricalDtype(categories=["female", "male"])

df_clean["Gender"] = df_clean["Gender"].astype(gender_type)

In [34]:
df_clean.dtypes

Unnamed: 0                   int64
Examination Date    datetime64[ns]
Name                        object
Gender                    category
Age                          int64
Mode                        object
H                          float64
H1                          object
M                          float64
DD                         float64
Diagnosis                   object
dtype: object

##### [A] Replicate how we changed the gender column to categorical but this time for the `'Mode'` column.

In [35]:
df_clean['Mode'] = df_clean['Mode'].astype('category')

##### [A] Again, change the `'Diagnosis'` column to categorical replicating above the example above.

In [36]:
df_clean['Diagnosis'] = df_clean['Diagnosis'].astype('category')

### Duplicate Entries
- Duplicate entities in a dataset is not good to have as it  can use overfit and is redundant information

##### [A] Check for duplicate entries and delete them

In [37]:
duplicate_rows = df_clean.duplicated()

In [38]:
display(duplicate_rows)

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Length: 61, dtype: bool

before using tilde operator
True = Duplicated, False = not duplicated

After using tilde operator:
False = Duplicated, Trues = Not _ duplicated

In [39]:
df_clean = df_clean[~duplicate_rows]

In [40]:
df_clean

,Unnamed: 0,Examination Date,Name,Gender,Age,Mode,H,H1,M,DD,Diagnosis
0,0,2011-06-10,Cody Watson,male,72,d,NaN,_,5.058993,1.481877,No
1,1,2011-02-20,Jonathan Duke,male,9,e,104.087633,105.0876332,6.531724,2.266884,No
2,2,2011-06-27,Charlene Houseworth,female,59,f,102.904315,103.9043152,6.273313,0.396333,Yes
3,3,2010-09-22,Gregory Curci,male,23,g,152.651655,153.6516553,7.333626,0.557534,Yes
4,4,2011-06-10,Cody Watson,male,72,d,NaN,_,5.058993,1.481877,No
...,...,...,...,...,...,...,...,...,...,...,...
56,56,2011-08-04,Sherry Dafonte,female,42,e,109.866307,110.8663068,4.137636,6.405663,No
57,57,2011-08-14,Melvin Yono,male,37,e,100.379104,101.3791042,6.295158,-2.297059,Yes
58,58,2011-04-19,Robert Young,male,77,f,NaN,_,5.524661,3.867672,No
59,59,2011-05-29,Gerald Salem,male,35,e,98.547989,99.54798923,2.688670,1.897595,Yes
60,60,2011-05-15,Joseph Beatty,male,33,f,120.669018,121.6690182,5.241279,1.911511,No

##### [A] Once you delete a row in your dataset the index of that row is also deleted. Reset the index of the dataset so it in proper order.
> Hint: use the `dataframe.reset_index` function and set the drop parameter to `True`.

In [41]:
df_clean = df_clean.reset_index(drop=True)

##### [A] Check the data types of your dataframe and print the shape of the dataframe.

In [42]:
df_clean.dtypes

Unnamed: 0                   int64
Examination Date    datetime64[ns]
Name                        object
Gender                    category
Age                          int64
Mode                      category
H                          float64
H1                          object
M                          float64
DD                         float64
Diagnosis                 category
dtype: object

In [43]:
df_clean.shape

(61, 11)

# Lab Activity Two: Clean a Dataset Yourself

In this activity, you will need to clean the dataset yourself using the examples from the activity above. The `Lab2_df2.csv` is loaded and displayed for you.

In [55]:
#Read Lab2_df2.csv file

df2 = pd.read_csv('Lab2_df2.csv')
df2.head(10)

,Unnamed: 0,Inspection Date,M1,M2,M3,M4,Site Name
0,0,9/4/2010,0.079600881,0.007344,0.542921,0.000074,Clinic1
1,1,9/27/2010,_,0.000204,9.613118,0.000042,Clinic1
2,2,10/6/2010,_,0.000928,4.298943,0.000041,Clinic1
3,3,10/21/2010,0.877617221,0.002254,9.240019,0.000182,Clinic1
4,4,11/26/2010,_,0.008547,6.659528,0.000022,Clinic1
5,5,11/29/2010,0.751824622,0.006172,7.023103,0.000016,Clinic1
6,6,1/4/2011,0.9279763,0.000833,5.473454,0.000124,Clinic2
7,7,1/28/2011,0.905113763,0.008793,7.223218,0.000209,Clinic2
8,8,2/3/2011,0.091880053,0.001529,2.745545,0.000024,Clinic1
9,9,2/4/2011,_,0.007507,4.472094,0.000035,Clinic2

##### [A] Figure out the issues with this dataset and apply the cleaning methods

In [56]:
df2.dtypes

Unnamed: 0           int64
Inspection Date     object
M1                  object
M2                 float64
M3                 float64
M4                 float64
Site Name           object
dtype: object

In [57]:
df2.shape

(22, 7)

In [58]:
df_clean2 = df2.copy()

In [59]:
#drop uneccessary columns
df_clean2.drop(columns=['Unnamed: 0'], inplace=True)

In [60]:
#change inspection date to date time
df_clean2['Inspection Date'] = pd.to_datetime(df_clean2['Inspection Date'])

In [61]:
#change M1 to float64
df_clean2['M1'] = pd.to_numeric(df_clean2['M1'], errors='coerce')

In [62]:
#change site name to category
df_clean2['Site Name'] = df_clean2['Site Name'].astype('category')

In [63]:
df_clean2.dtypes

Inspection Date    datetime64[ns]
M1                        float64
M2                        float64
M3                        float64
M4                        float64
Site Name                category
dtype: object

In [65]:
duplicate_rows = df_clean2.duplicated()
display(duplicate_rows)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
dtype: bool

In [66]:
df_clean2 = df_clean2[~duplicate_rows]

In [67]:
df_clean2 = df_clean2.reset_index(drop=True)

In [68]:
df_clean2.shape

(22, 6)